listen_addresses = '*'

ssl = on
ssl_cert_file = '/var/lib/postgresql/certs/server.crt'
ssl_key_file = '/var/lib/postgresql/certs/server.key'

password_encryption = scram-sha-256

timezone = 'Asia/Kolkata'
log_timezone = 'Asia/Kolkata'

hba_file = '/etc/postgresql/custom/pg_hba.conf'
